<!--меню-->
<div class="ui secondary pointing menu">
  <a href="/list" class="item {{#if isList}}active{{/if}}" id="list">
    Просмотреть список
  </a>
  <a href="/create" class="item {{#if isCreate}}active{{/if}}" id="create">
    Создать
  </a>
</div>
</div>
